---
import Layout from '../../../layouts/Layout.astro'
import Breadcrumbs from '../../../components/Breadcrumbs.astro'
import { getEzine } from '../../../lib/ezines'
import { getIssueFiles, formatFileSize } from '../../../lib/files'
import { getFileIcon } from '../../../lib/fileTypes'

const { slug, issue } = Astro.params
const ezine = getEzine(slug!)

if (!ezine) {
  return Astro.redirect('/404')
}

const files = getIssueFiles(slug!, issue!)
const issueName = issue!.replace(/-/g, ' ').replace(/_/g, ' ')
---

<Layout title={`${issueName} - ${ezine.name} - PhileZ`}>
  <Breadcrumbs items={[
    { label: 'Home', href: '/' },
    { label: ezine.name, href: `/ezine/${slug}` },
    { label: issueName }
  ]} />

  <h1>{issueName}</h1>
  <p style="color: #888; margin-bottom: 2rem;">{ezine.name}</p>

  <h2>Files ({files.length})</h2>
  <ul class="file-list">
    {files.map(file => (
      <li>
        <a href={`/view/${slug}/${issue}/${file.slug}`}>
          <span>{getFileIcon(file.name)} {file.name}</span>
          <span class="file-size">{formatFileSize(file.size)}</span>
        </a>
      </li>
    ))}
  </ul>
</Layout>
